:root
{
  background-color: white;

  --decoration-color: #E0E0E0;
  --text-color: #303030;
}

@keyframes loading
{
  0%
  {
    transform: rotate3d(1, 0, 0, 0.0turn);
  }

  25%
  {
    transform: rotate3d(1, 0, 0, 0.5turn);
  }

  50%
  {
    transform: rotate3d(0, 0, 1, 0.5turn);
  }

  75%
  {
    transform: rotate3d(0, 1, 0, 0.5turn);    
  }

  100%
  {
    transform: rotate3d(1, 0, 0, 0.0turn);
  }
}

ol
{
  padding: 0;
  list-style: none;
}

.text
{
  color: var(--text-color);
}

.loading
{
  min-width: 1em;
  min-height: 1em;

  animation: loading 2s infinite;
  
  border-left: 1px solid var(--text-color);
}

ol.keyvalue>li>a:first-child
{
  float: left;
}

ol.keyvalue>li>a:last-child
{
  float: right;
  margin-left: 1em;
}

.divider
{
  margin: 1em;

  border-width: 1px;
  border-color: var(--decoration-color);
}

.divider.horizontal
{
  width: 100%;
  height: 1px;

  border-bottom-style: solid;

  box-sizing: border-box;
}

.box
{
  background-color: #F0F0F0;
  border: 1px solid var(--decoration-color);
}

.outer
{
  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;
}

.inner
{
  position: relative;
  display: flex;

  margin: auto;
  padding: 1em;

  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 10px #30303050;
}

.inner > #name
{
  margin-top: 0.5em;
}

#api_information
{
  position: absolute;

  bottom: 0;
  right: 0;

  font-size: 8pt;
}